.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  background-color: #ffffff;
    margin: 13px 10px;
    /* padding: 15px; */
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px #ECECEC;
}

.section {
  /* border: 2px solid red; */
  padding: 15px;
  margin-bottom: 15px;
  background-color: #ffffff;
    margin: 20px 0px;
    padding: 25px 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px #ECECEC;
}

.sectionTitle {
  
  height: 100%;
  /* background: #ddd; */
  /* margin-bottom: 15px; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
 
  /* padding: 10px; */
 
  margin: 13px 10px;
  padding: 13px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 2px #ECECEC;
  background: #F3F4F4;
}

.sectionTitle span {
  font-size: 1.3rem;
  font-weight: 600;
  padding-left: 10px;
  color: red;
 
  

}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

.box {
  height: 100%;
  /* background: #ccc; */
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.5);
  padding: 2px 5px;

  /* padding: 10px; */
  background-color: #ffffff;
  margin: 13px 10px;
  /* padding: 15px; */
  border-radius: 10px;
  box-shadow: 0px 0px 2px 2px #ECECEC;
}


.linkspan a {
  font-size: 1rem;
  font-weight: 500;
  color: blue;
  padding-right: 10px;
}


.blinkLink {
  position: relative;
  color: red;
  font-weight: bold;
  animation: blinkEffect 1s infinite;
  font-size: .9rem;
}

@keyframes blinkEffect {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  .sectionTitle span {
    font-size: 1rem;
  }

}