.imagebox{
    width: 80vw;
    height: 25rem;
    border: 2px solid rgb(76, 0, 255);
    overflow: hidden;
    position: relative;
    display: flex;
    position: relative;
    position: relative;
    
}

.imagebox img{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    transition: opacity 0.6s linear;
}

.imagebox img[data-active="true"]{
    opacity: 1;
}
.imagebox img[data-active="false"]{
    opacity: 0;
}

.sliderBtn{
    width: 100vw;
    height: 4rem;
    /* background-color: wheat; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
   
    
}

.sliderBtnEffect{
    width: 2.5rem;
    height: 2.5rem;
    border: .01rem solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: 1rem;
    background:transparent;
    color: white;
    font-weight: 700;
    margin: 0 .8rem;

}

 