.imagebox{
    width: 100%;
    height: 25rem;
    border: 2px solid rgb(76, 0, 255);
    overflow: hidden;
    position: relative;
    display: flex;
    position: relative;
    position: relative;
    
}

.imagebox img{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    transition: opacity 0.6s linear;
}

.imagebox img[data-active="true"]{
    opacity: 1;
}
.imagebox img[data-active="false"]{
    opacity: 0;
}

.sliderBtn{
    width: 100%;
    height: 4rem;
    /* background-color: rgb(179, 245, 184); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(250, 248, 248);
   
    
}

.sliderBtnEffect{
    width: 2.5rem;
    height: 2.5rem;
    border: .01rem solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: 1rem;
    background:transparent;
    color: rgb(249, 244, 244);
    font-weight: 700;
    margin: 0 .8rem;
    transition: 2s ease-in;

}

 .sliderBtnEffect:hover{
    background-color: blue;
    border: none;
 }