.imagebox{
    width: 80vw;
    height: 25rem;
    border: 2px solid rgb(76, 0, 255);
    overflow: hidden;
    position: relative;
    display: flex;
    position: relative;
    
}

.imagebox img{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
}