.footer {
  /* background: #0077b6; */
  background: #f75273;
  color: #fff;
  padding: 40px 20px 20px;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
}

.brand h2 {
  font-size: 1.8rem;
  margin-bottom: 5px;
  color:rgb(255, 255, 255);
  font-weight: 700;
}

.brand p {
  font-size: 1.2rem;
  color: #cce7ff;
}

.brand span{
    color: rgb(237, 255, 79);
    font-weight: 700;
}

.links h3,
.sociallink h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  text-decoration: underline;
}

.links ul {
  list-style: none;
  padding: 0;
}

.links ul li {
  margin-bottom: 8px;
}

.links ul li a {
  color: #cce7ff;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 1.1rem;
}

.links ul li a:hover {
  color: #fff;
}

.sociallink .icons {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
  
}

.sociallink .icons a {
  color: #cce7ff;
  font-size: 1.3rem;
  transition: color 0.3s, transform 0.3s;
}

.sociallink .icons a:hover {
  color: #fff;
  transform: scale(1.2);
}

.bottom {
  margin-top: 25px;
  border-top: 1px solid #005f8c;
  padding-top: 15px;
  font-size: 1.1rem;
  color: #cce7ff;
}

/* Responsive */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .links ul li,
  .sociallink .icons {
    justify-content: center;
  }
}