.header {
  display: flex;
  align-items: center;
  justify-content: center;   /* Center with space */
  padding: 15px 20px;
  gap: 4rem;
  background: #ffffff;
  border-bottom: 3px solid #0d47a1;
 
}

/* Remove flex:1 — it was causing full-width stretch */
.logoBox {
  width: 120px;                  /* Fixed width */
  display: flex;
  justify-content: center;
  /* border: 2px solid lime; */
}

.logo {
  width: 9rem;
  height: 9rem;
  object-fit: cover;
}

/* Give textBox its natural size only */
.textBox {
  max-width: 90%;
  text-align: left;            /* Center text */
  /* border: 2px solid lime; */
}

.collegeName {
  font-size: 2.5rem;
  font-weight: 700;
  color: #0d47a1;
  color: red;
 
  margin: 0;
}

.tagline,.tagline2,.tagline3 {
  font-size: 2.2rem;
  margin-top: 5px;
  word-spacing: .1rem;
  text-align: center;
  color: rgb(5, 5, 91);
  font-weight: 600;
}

.tagline2{
    font-size: 1.2rem;
}
.tagline3{
    font-size: 1rem;
}

/* Mobile */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 10px;
  }

  .textBox {
    max-width: 100%;
    text-align: center;
  }
}
