.heroSection {
    height: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    padding: 4rem 3rem;
    background: linear-gradient(45deg, #ff6b6b, #ff4db8);



    overflow: hidden;
    border: 2px solid red;
    position: relative;

}


