.heroSection {
    
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
    padding: .2rem 1rem;
    padding-top: 1rem;
    /* background: linear-gradient(45deg, #ff6b6b, #ff4db8); */
    /* background: linear-gradient(to right, #e2e2e2,#c9d6ff); */



    
    z-index: -2;
    box-sizing: border-box;
}


