.navSection {
    width: 100vw;
    height: 2rem;
    background-color: rgb(18, 110, 110);
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0px 0px 3px 5px rgba(0, 0, 0, 0.5);

}

.ulList {

    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid red; */

}

.ulList li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: capitalize;
}

.hummerberger {
    width: 5rem;
    height: 100%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2rem;

    display: none;
}

.menubtn {
    width: 2rem;
    height: 100%;
    /* border:2px solid lime; */
    position: relative;
    overflow: hidden;
}

.hummerberger button {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    font-size: 2.2rem;
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
    transition: transform 0.4s ease, opacity 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* When menu is closed (hamburger) */
.iconClosed {
    transform: rotate(0deg);
    opacity: 1;
}

/* When menu is opened (close icon) */
.iconOpened {
    transform: rotate(180deg);
    opacity: 0.8;
}



/* ---------------------------------------- Responsive code for mobile --------------------------------------------------------------*/

@media (max-width: 991px) {
     
    .hummerberger {
        display: flex;
    }

    .navSection {
        position: relative;
    }

    .ulList {
        width: 100%;
        position: absolute;
        flex-direction: column;
        height: 20rem;
        transition: top 0.5s ease-in-out;  /* smooth animation */
        z-index: -1;
        
    }
    .ulList li{
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        /* background-color: aquamarine; */
        margin: .1rem;
        padding-left: 1rem;
        /* border: 2px solid white; */
        background-color: rgb(18, 110, 110);
        
    }
    a{
        color: white;
        font-weight: 500;
        font-size: 1rem;
        
    }
    .navSection {
        justify-content: flex-start;
    }

    .hummerberger {
        padding-left: 1rem;

    }

    .showmenubox{
        left: 0;
        top:2.2rem;
      
    }
    .hidemenubox{
        left: 0;
        top: -20rem;
    }
    /* .ulList {
        display: none;
    }
 */

 

}

/*----------------------------------------------------------- Responsive for tablet -----------------------------------------------------------*/

/* @media (min-width: 481px) and (max-width: 768px) {
    .ulList {
        width: 100%;
    }

    .ulList li a {
        font-size: .7rem;
    }
}
 */
/*----------------------------------- Responsive for mini laptop ----------------------------------------------------------- */
/* @media (min-width: 769px) and (max-width: 1024px) {
    .ulList {
        width: 100%;
    }

    .ulList li a {
        font-size: .8rem;
    }

} */