* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-size: 62.5%;
    user-select: none;
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;


}